.App-header {
  background-color: #282c34;
  padding: 60px;
  color: white;
  font-size: 2em;
  text-align: center;
}

.navbar-nav .nav-link {
  font-weight: bold;
  padding: 15px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.point {
  padding: 15px 20px;
  background-color: #282c34;
  font-weight: bold;
  border-radius: 5px;
  color: #61dafb;
}

.navbar-nav .nav-link:hover {
  background-color: #282c34;
  color: white !important;
}

.navbar-nav .nav-link.active {
  background-color: #282c34 !important;
  color: white !important;
  border-radius: 5px;
  padding: 15px 20px;
}

.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.bg-light {
  background-color: #61dafb !important;
}

.container-fluid {
  padding: 0 20px;
}

.App-content {
  padding: 60px;
  font-size: 1.5em;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 1.2em;
  text-align: center;
}
.toastify {
  font-family: Arial, sans-serif;
}

.toastify-content {
  background-color: #333;
  color: #fff;
}

.toastify-progress-bar {
  background-color: #4caf50;
}